[Unit]
Description=Gunicorn instance to serve iot
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/pi/IOT/home-iot
Environment="PATH=/home/pi/IOT/home-iot/bin"
ExecStart=/home/pi/IOT/home-iot/bin/gunicorn --worker-class eventlet -w 1 --bind 127.0.0.1:5000 --log-level debug -$

[Install]
WantedBy=multi-user.target